.footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  border-top: 1px solid #00AEEF;
  width: 100%;
  box-sizing: border-box;
  font-size: 11px;
  color: inherit;
  line-height: 1.26;
  height: 46px;
  padding-bottom: 6px;
  margin-top: auto;
}

.footer p {
  margin: 0;
}

.footer-links {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-link {
  flex: 1;
  text-align: right;
  color: inherit;
  text-decoration: none;
  transition: color 0.3s ease;
}

.footer-link:last-of-type {
  text-align: left;
}

.divider {
  flex: 0;
  margin: 0 6px;
  font-weight: 600;
  color: inherit;
  line-height: 1;
}

.footer-link:hover {
  color: #00AEEF;
}
